html { font-size:100%; }


@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

#navbar a
{
    display: inline-block;
    border-radius: 5px;
    color: White;
    float: left;
    padding:5px;
    margin: 15px;
    text-decoration: none;
}

#navbar
{
    border: 2px solid black;
    border-radius: 35px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    overflow: auto;
}

#navbar img{
    float:right;
    height:50px;
    width:50px;
    margin-right: 19px;
    margin-top: 8px;
}
#navbar h1
{
    color:white;
    width:43%;
    text-align: center;

    float:right;
    margin-right: 20%;
}
#main_body{
    
    width:50vw;
    margin:auto;
}
#main_body input,label, #sub
{
    display: block;
    width:60%;
    margin:3px auto 3px auto;
    text-align: center;
    background-color: #f9ea8f;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
    border-radius: 20px;
    font-family: monospace;
    font-weight: bold;
}

h2{
    width:45vw;
   color: white;
   background-color: #0cbaba;
   background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
   border-radius: 50%;
    text-align: center;
    margin: 5vh Auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#overall , #Division{
    width: 20vw;
    margin:20px auto auto auto;

}
body
{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    background-size: cover;
}

#main_body label
{
    font-size:large;
    font-weight: bold;
    color:white;
    width: 15vw;
    border: 2px solid black;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

#main_body #sub
{
    display: inline-block;
    width: 30%;
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    color: white;
    margin:auto;
    padding:2%;
    margin-left:17.5vw;
}

footer,code{
    display: block;
    text-align: center;
}

#show{
    display: inline-block;
    width: 5vw;
    height:2vw;
    margin-left:2px;
    margin-top:1vw;
    }

#show2
    {
        display: inline-block;
        width: 7vw;
        height:2vw;
        margin-left:2px;
        margin-top:1vw;
    }

#text
{
    display: inline-block;
    margin-left: 15.5vw;
}

.up
{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}